/* for fade it */
#logo, .github-button, .b_seemore, #title, p {
    opacity: 0;
}

.long-text {
    text-align: center;
    margin: auto;
}

video {
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
  margin: auto;
  text-align: center;
}

.header {
  text-align: center;
}

.logo {
    height: 300px;
}

.github-button {
  width: 300px;
  margin: auto;
}

.seemore-button {
  padding-top: 50px;
  padding-bottom: 30px;
}

.media {
  opacity: 0;
  margin: auto;
  text-align: center;
}

.description {
  text-indent: 2em;
  text-align: justify;
}

.note {
  font-size: 10px;
}

a {
  transition: 1s;
  color: #ee9cff;
  text-decoration: none;
}

a:hover {
  transition: 1s;
  color: #ffa9bd;
  text-decoration: underline;
}

a.btn.btn-default {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.body {
  width: 90%;
  margin: auto;
}

p {
  color: #fff;
  text-shadow: 2px 1px 2px #000000;
  line-height: 2;
  width: 600px;
  margin: auto;
}

body {
  background-color: #000;
  background-image: url("../background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: top;
  background-size: auto 100%;
  font-family: Arial;
}

h1, h2, h3, h4 {
  text-shadow: 1px 1px 3px #000000;
}

h2 {
  color: rgb(177, 243, 194);
  margin-top: 40px;
}

h3 {
  color: rgb(247, 105, 155);
}

/* Button CSS */

.button_base {
    margin: 0;
    border: 0;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -150px;
    width: 300px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}

.b_seemore div {
    color: rgb(201,176,201);
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    transition: 1s;
}

.b_seemore:hover div {
    color: #ffffff;
    transition: 1s;
}

.b10_tveffect div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.b10_tveffect div:nth-child(1) {
    color: rgb(201,176,201);
    background-color: rgb(0,0,0, 0.0);
    -webkit-transition: all 0.1s ease;
    padding: 10px;
    border: rgb(100,72,102) solid 3px;
    border-radius: 10px;
}

.b10_tveffect div:nth-child(2) {
    overflow: hidden;
}

.b10_tveffect div:nth-child(2) div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: #fff hidden 1px;
}

.b10_tveffect div:nth-child(2) div:nth-child(1) {
    color: rgba(200, 120, 120, 0.8);
    opacity: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAF0lEQVQIW2NkwAIYgWKS6OIgQQxAoUoAE4AAUnD/0ugAAAAASUVORK5CYII=) repeat;
}

.b10_tveffect div:nth-child(2) div:nth-child(2) {
    color: rgba(120, 200, 120, 0.8);
    opacity: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAF0lEQVQIW2NkwAIYgWKS6OIgQQxAoUoAE4AAUnD/0ugAAAAASUVORK5CYII=) repeat;
}

.b10_tveffect div:nth-child(2) div:nth-child(3) {
    color: rgba(120, 120, 200, 0.8);
    opacity: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAF0lEQVQIW2NkwAIYgWKS6OIgQQxAoUoAE4AAUnD/0ugAAAAASUVORK5CYII=) repeat;
}

.b10_tveffect:hover div:nth-child(1) {
    color: #ffffff;
    background-color: rgba(255,115,250,.2);
    border-radius: 10px;
    border: rgb(255,215,253) solid 3px;
    transition: color 0s ease;
    transform: scale(1.2, 1.2);
    -webkit-transition: color 0s ease;
    -moz-transition: color 0s ease;
    transition: background-color 0.3s ease 0.2s;
    -webkit-transition: background-color 0.3s ease 0.2s;
    -moz-transition: background-color 0.3s ease 0.2s;
}

.b10_tveffect:active div:nth-child(1) {
    background-color: rgba(255,115,250,.6);
    transition: color 0.5s ease;
}

.b10_tveffect:hover div:nth-child(2) div:nth-child(1) {
    transform: scale(1.2, 1.2);
    animation: b10_tveffect_red 0.25s linear;
    -webkit-animation: b10_tveffect_red 0.25s linear;
    -moz-animation: b10_tveffect_red 0.25s linear;
}

.b10_tveffect:hover div:nth-child(2) div:nth-child(2) {
    transform: scale(1.2, 1.2);
    transition: color 0s ease;
    animation: b10_tveffect_green 0.25s linear;
    -webkit-animation: b10_tveffect_green 0.25s linear;
    -moz-animation: b10_tveffect_green 0.25s linear;
}

.b10_tveffect:hover div:nth-child(2) div:nth-child(3) {
    animation: b10_tveffect_blue 0.25s linear;
    -webkit-animation: b10_tveffect_blue 0.25s linear;
    -moz-animation: b10_tveffect_blue 0.25s linear;
}

@-webkit-keyframes b10_tveffect_red {
    from,
    to {
        opacity: 0;
    }
    25% {
        opacity: 1;
        -webkit-transform: scale(2.8, 1.6) translate(-10px, 3px) skewX(30deg);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.5, 1.2) translate(20px, 6px) skewX(5deg);
    }
    75% {
        opacity: 1;
        -webkit-transform: scale(0.9, 1.8) translate(-16px, -1px) skewX(-20deg);
    }
}

@-webkit-keyframes b10_tveffect_green {
    from,
    to {
        opacity: 0;
    }
    25% {
        opacity: 1;
        -webkit-transform: scale(1.3, 1.5) translate(3px, 6px) skewX(25deg);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(2.6, 1.1) translate(-16px, -5px) skewX(-15deg);
    }
    75% {
        opacity: 1;
        -webkit-transform: scale(1, 1.8) translate(18px, 4px) skewX(15deg);
    }
}

@-webkit-keyframes b10_tveffect_blue {
    from,
    to {
        opacity: 0;
    }
    25% {
        opacity: 1;
        -webkit-transform: scale(1.2, 1.4) translate(-10px, -3px) skewX(-25deg);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(2.9, 1.1) translate(16px, 3px) skewX(5deg);
    }
    75% {
        opacity: 1;
        -webkit-transform: scale(1.3, 2) translate(-30px, -3px) skewX(20deg);
    }
}

@-moz-keyframes b10_tveffect_red {
    from,
    to {
        opacity: 0;
    }
    25% {
        opacity: 1;
        transform: scale(2.8, 1.6) translate(-10px, 3px) skewX(30deg);
    }
    50% {
        opacity: 1;
        transform: scale(1.5, 1.2) translate(20px, 6px) skewX(5deg);
    }
    75% {
        opacity: 1;
        transform: scale(0.9, 1.8) translate(-16px, -1px) skewX(-20deg);
    }
}

@-moz-keyframes b10_tveffect_green {
    from,
    to {
        opacity: 0;
    }
    25% {
        opacity: 1;
        transform: scale(1.3, 1.5) translate(3px, 6px) skewX(25deg);
    }
    50% {
        opacity: 1;
        transform: scale(2.6, 1.1) translate(-16px, -5px) skewX(-15deg);
    }
    75% {
        opacity: 1;
        transform: scale(1, 1.8) translate(18px, 4px) skewX(15deg);
    }
}

@-moz-keyframes b10_tveffect_blue {
    from,
    to {
        opacity: 0;
    }
    25% {
        opacity: 1;
        transform: scale(1.2, 1.4) translate(-10px, -3px) skewX(-25deg);
    }
    50% {
        opacity: 1;
        transform: scale(2.9, 1.1) translate(16px, 3px) skewX(5deg);
    }
    75% {
        opacity: 1;
        transform: scale(1.3, 2) translate(-30px, -3px) skewX(20deg);
    }
}


@media screen and (orientation:portrait), screen and (max-width: 700px) {
    body {
      background-size: auto 100%;
    }
}

@media screen and (orientation:landscape) {
    body {
      background-size: 100% auto;
    }
}
